<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{modules/layout :: layout(_content = ~{::content},_title = '友人帐',_footer = ~{::footer},_head = null)}">
<th:block th:fragment="content">
    <div class="container link">
        <th:block th:replace="~{modules/header}" />
        <main>
            <th:block th:replace="~{modules/inc/nav}" />
            <div class="content">
                <article>
                    <div th:if="${theme.config.link.iemo_friends_display}">
                        <div class="link-bar">
                            <ul>
                                <li >
                                    <!--                                <a th:href="@{${tagItem.status.permalink}}" th:text="${tagItem.spec.displayName}"></a>-->
                                    <a th:href="@{/links}">友人帐</a>
                                </li>
                                <li>
                                    <a th:href="@{/friends}">朋友圈</a>
                                </li>
                                <li th:with="link_add = ${theme.config.link.iemo_link_add}">
                                    <a th:href="@{${link_add eq ''?'/blog-requests/add':singlePageFinder.getByName(link_add).status.permalink
}}">申请</a>
                                </li>
                                <li>
                                    <a th:href="@{/blog-requests}">审核</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2>友人帐 <span>Friends.</span></h2>
                    <div class="link-box">
                        <ul>
                            <th:block th:each="group,iterStat : ${groups}">
                                <li th:each="link : ${group.links}">
                                    <a th:href="${link.spec.url}" target="_blank">
                                        <div class="left">
                                            <img th:src="${link.spec.logo}" alt="">
                                        </div>
                                        <div class="right">
                                            <h3 th:text="${link.spec.displayName}"></h3>
                                            <p th:title="${link.spec.description}"></p>
                                        </div>
                                    </a>
                                </li>
                            </th:block>


                        </ul>
                    </div>
                </article>
                <th:block th:replace="~{modules/aside}" />
            </div>
        </main>
    </div>
</th:block>
<th:block th:fragment="footer">
    <th:block th:replace="~{modules/inc/ajax/ajax-link-tpl}" />
</th:block>

</html>